.resume {
  margin-top: 30px;
}

.resume-content {
  margin: 0;
  color: $white;
}

.resume-header {
  padding-bottom: 8px;
  margin-bottom: 20px;
  font-size: 17px;
  border-bottom: 2px solid $border;
}

.resume-item {
  display: flex;
  margin-top: 20px;

  .resume-info {
    flex: 4;

    h4 {
      color: $pink;
      text-align: left;
      font-weight: 600;
      margin-top: 0;
      margin-bottom: 8px;
    }

    h4 a {
      color: $pink;
    }

    p {
      font-weight: 300;
    }
  }

}

.resume-description {
  margin-top: 20px;
  margin-bottom: 30px;

  ul {
    padding-left: 20px;
    margin-bottom: 50px;
  }

  li {
    margin-top: 3px;
    font-size: 14px;
    font-weight: 300;
  }
}

section:not(.skills) {
  margin-bottom: 50px;
}

canvas {
  margin-top: 34px;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .resume-header {
    font-size: 14px;
  }

  h4 {
    font-size: 12px;
  }

  .resume-description {
    display: none;
  }

  .resume-info p {
    font-size: 12px;
  }
}
