.resume {
  margin-top: 30px;
}

.resume-content {
  margin: 0;
  padding: 20px;
  color: $char;
}

.resume-header {
  padding-bottom: 8px;
  margin-bottom: 20px;
  font-size: 17px;
  border-bottom: 2px solid $border;
}

.resume-item {
  display: flex;
  margin-top: 20px;

  .resume-info {
    flex: 4;

    h4 {
      text-align: left;
      font-weight: 600;
      margin-top: 0;
      margin-bottom: 8px;
    }

    h4 a {
      color: $blue;
    }
  }

  .resume-icon {
    align-self: center;
    height: 65px;
    width: 65px;
    margin-right: 10px;
    border-radius: 100%;
    text-align: center;

    img {
      height: 65px;
      width: 65px;
      margin-right: 2px;
    }

    .udacity {
      margin-right: 2px;
      margin-top: 5px;
      height: 50px;
      width: 50px;
    }
  }
}

.resume-description {
  margin-top: 20px;
  margin-bottom: 30px;

  ul {
    padding-left: 20px;
  }

  li {
    margin-top: 10px;
    font-size: 13px;
  }
}

section:not(.skills) {
  margin-bottom: 50px;
}

canvas {
  margin-top: 34px;
  margin-bottom: 30px;
}

@media (max-width: 662px) {
  .resume-header {
    font-size: 14px;
  }

  h4 {
    font-size: 12px;
  }
}
