/* Blue - #444c5c */


a:link,a:visited,.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus,a:hover,a:active,.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus{
	color:#444c5c;
}

.spacer,.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus,#grid .mix .overlay {

background: #444c5c;
}

#page-footer{
	background: #444c5c;
	color:#fff;
}

#page-footer .spacer{
	background: #fff;
}

#page-footer .section-title{
	color:#fff;
}

.btn.btn-default:hover,
.btn.btn-default:active{
    color:#444c5c;
}
